/* Paleta de cores */
:root {
    --cor-principal: #8C472E; /* Cor principal */
    --cor-secundaria: #444359; /* Cor secundária */
    --cor-destaque: #F2E4DC; /* Cor de destaque */
}

/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Corpo da página */
body {
    background-color: var(--cor-destaque); /* fundo com cor de destaque */
    color: var(--cor-secundaria); /* texto principal com cor secundária */
    line-height: 1.6;
    padding-top: 60px; /* espaço para o cabeçalho fixo */
}

/* Cabeçalho */
header {
    background: var(--cor-principal); /* Cor principal */
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(5px); /* efeito de desfoque no fundo */
    transition: background 0.3s ease;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s, padding 0.3s;
}

nav ul li a:hover {
    color: var(--cor-destaque); 
    padding-bottom: 8px; 
    border-bottom: 2px solid var(--cor-destaque);
}

/* Seção sobre mim */
#sobre-mim {
    padding: 100px 20px 20px;
    text-align: center;
    margin-top: 20px;
}

.hero { 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    width: 850px;
    display: inline-block;
    vertical-align: top;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.hero img:hover {
    transform: scale(1.1); /* efeito de zoom na imagem */
}

.hero p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
}

/* Seção curiosidades */
#curiosidades {
    padding: 40px 20px;
    text-align: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    width: calc(33% - 40px); /* 3 cards por linha */
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
    margin-right: 35px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.1); /* efeito de zoom nas imagens dos cards */
}

.card p {
    padding: 20px;
    font-size: 1.1rem;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1); /* brilho ao passar o mouse */
}

/* Seção educação */
#educacao {
    padding: 40px 20px;
    background-color: var(--cor-destaque);
}

#educacao h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 850px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right:auto;
}

table th, table td {
    padding: 12px;
    text-align: left;
}

table th {
    background-color: var(--cor-secundaria); 
    color: white;
    border: 50%;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Seção causos */
#causos {
    padding: 40px 20px;
    text-align: center;
}

#causos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#causos p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
}

/* Seção habilidades */
#habilidades {
    padding: 100px 20px 20px;
    text-align: center;
    margin-top: 20px;
}

.habilidades { 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 850px;
    display: inline-block;
    vertical-align: top;
}

.habilidades h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.habilidades img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.habilidades img:hover {
    transform: scale(1.1); /* efeito de zoom nas imagens */
}

.habilidades ul {
    list-style: none;
    padding: 0;
}

.habilidades li {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: center;
}

/* Seção contato */
#contato {
    padding: 40px 20px;
    background-color: var(--cor-principal); 
    color: var(--cor-destaque);
    text-align: justify;
}

#contato h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

#contato p {
    font-size: 1.1rem;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
}

#contato a {
    color: var(--cor-destaque); 
    text-decoration: none;
}

#contato a:hover {
    text-decoration: underline;
}